.wrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
}

.content {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.empty-info, .empty-list {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-list {
  min-width: 300px;
}

